<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/static/favicon.png" sizes="32x32">
    <meta charset="UTF-8" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron mt-3">
        <h1 class="display-5">Dashboard</h1>
        <hr class="my-3">
        <p class="lead">Temperate and Pressure readings from around the house!</p>
      </div>
      <div class="row mx-lg-5">
        <div class="col px-3 mx-xl-5">
          <div class="p-2 mx-lg-5">
            <canvas id="tempChart" class="p-2" style="border-style: solid; border-color: #F0F0F0; border-width: 0.5em"></canvas>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col col-xl-3 col-lg-4 col-md-5 col-sm-6 mx-auto">
          <form action"/temperature" method="GET">
            <div class="input-group mb-3">
              <label class="form-control text-nowrap">Time Window</label>
              <select id="time-window" name="window" class="custom-select">
                <option value="1">Day</option>
                <option value="3">3 Days</option>
                <option value="7">Week</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <label class="form-control">Interval</label>
              <select id="time-interval" name="interval" class="custom-select">
                <option value="1">1 minute</option>
                <option value="5">5 minutes</option>
                <option value="15">15 minutes</option>
                <option value="30">30 minutes</option>
                <option value="60">60 minutes</option>
              </select>
            </div>
            <div class="input-group">
              <label class="form-control">Unit</label>
              <select id="unit" name="unit" class="custom-select">
                <option value="F">Fahrenheit</option>
                <option value="C">Celcius</option>
              </select>
            </div>
            <button class="btn btn-primary form-control mt-3">Update</button>
          </form>
        </div>
      </div>
      <div class="row my-5">
        <div class="col col-xl-6 mx-auto text-center">
          <h3>24h Extremes</h3>
          <span>Max temp: {{max_temp}} @ {{max_time}}</span><br>
          <span>Min temp: {{min_temp}} @ {{min_time}}</span>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script charset="utf-8">
      let ctx = document.getElementById('tempChart');
        let chart = new Chart(ctx, 
          {
            type: 'line',
            data: {{ data|tojson }},
            options: {
              scales: {
                yAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: '{{ unit }}'
                  },
                  ticks: {
                    stepSize: 0.5,
                  }
                }],
                xAxes: [{
                  ticks: {
                    autoSkipPadding: 15,
                    maxRotation: 45,
                  }
                }]
              }
            }
          })
    </script>
    <script>
      function getCookie(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length == 2) return parts.pop().split(";").shift();
      }

      const timeWindowOption = document.getElementById("time-window");
      const timeIntervalOption = document.getElementById("time-interval");
      const interval = getCookie("interval");
      for (var i = 0; i < timeIntervalOption.options.length; i++) {
        let o = timeIntervalOption.options[i].value;
        if (interval == o) {
          timeIntervalOption.selectedIndex = i;
          break;
        }
      }

      const unitOption = document.getElementById("unit");
      const u = getCookie("unit");
      for (var i = 0; i < unitOption.options.length; i++) {
        let opt = unitOption.options[i].value;
        if(opt == u) {
          unitOption.selectedIndex = i;
        }
      }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
