<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron mt-3">
        <h1 class="display-5">Dashboard</h1>
        <hr class="my-3">
        <p class="lead">Temperate and Pressure readings from around the house!</p>
      </div>
      <div class="row mx-lg-5">
        <div class="col px-3 mx-lg-5">
          <div class="p-2 mx-lg-5">
            <canvas id="tempChart" class="p-2" style="border-style: solid; border-color: #F0F0F0; border-width: 0.5em"></canvas>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col col-md-3 mx-auto">
          <form action"/temperature" method="GET">
            <div class="input-group mb-3">
              <label class="form-control">Interval</label>
              <select name="interval" class="custom-select">
                <option value="1">1 minute</option>
                <option value="5">5 minutes</option>
                <option value="15">15 minutes</option>
                <option value="30">30 minutes</option>
                <option value="60">60 minutes</option>
              </select>
            </div>
            <div class="input-group">
              <label class="form-control">Unit</label>
              <select name="unit" class="custom-select">
                <option value="F">Fahrenheit</option>
                <option value="C">Celcius</option>
              </select>
            </div>
            <button class="btn btn-primary form-control mt-3">Update</button>
          </form>
        </div>
      </div>
      <div class="row my-5">
        <div class="col col-xl-6 mx-auto text-center">
          <h3>24h Extremes</h3>
          <span>Max temp: {{max_temp}}</span><br>
          <span>Min temp: {{min_temp}}</span>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script charset="utf-8">
      let ctx = document.getElementById('tempChart');
        let chart = new Chart(ctx, 
          {
            type: 'line',
            data: {{ data|tojson }},
            options: {
              scales: {
                yAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: '{{ unit }}'
                  },
                  ticks: {
                    stepSize: 0.5,
                  }
                }],
                xAxes: [{
                  ticks: {
                    autoSkipPadding: 15,
                    maxRotation: 45,
                  }
                }]
              }
            }
          })
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
